# Python junk
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.mypy_cache/

# venv
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.code-workspace

# OS noise
.DS_Store
Thumbs.db
